$icon-font-path: '../fonts/';

@import 'bower_components/flat-ui-sass/vendor/assets/stylesheets/flat-ui/_variables.scss';
// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bower_components/fullpage.js/jquery.fullPage.scss';
@import 'bower_components/font-awesome/scss/font-awesome.scss';
// endbower
@import 'bower_components/flat-ui-sass/vendor/assets/stylesheets/flat-ui.scss';


$o: #ff8d27;
$t: #88d3cf;
$g: #d9d9d9;
$h: #1ABC9C;


.container-fluid {
  padding:0;
}
@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    background:white;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.header {
padding-right:10px;
padding-left:10px;
  height:90px;
  overflow:hidden;
  color:black;
  margin-bottom:0;
  h1 {
  font-family:Source Sans Pro;
  font-size:36px;
  font-weight:bold;
  float:left;
  display:block;
  margin-bottom:0;
  margin-top:8px;
  }
  .tag {
    clear:left;
    display:block;
    line-height:16px;
    float:left;
    font-size:12px;
    font-family:Inconsolata;
    font-weight:normal;
    margin-right:12px;
  }
  .tag2 { 
    margin-top:12px;
  }
  .tag1 {
    margin-top:0;
  }
}
nav {
  margin-top:22px;
}

.navbar-nav > li > a {
  line-height:10px;
  padding:15px 0;
}

.navbar-nav > li:nth-child(1) > a {
  padding:15px 42px;
}
.header ul li a i {
  margin-left:10px;
  line-height:10px;

}
.navbar {
  min-height:40px;
  li.icon {
    width:32px;
  }
}

.navbar-nav [class^="fui-"] {
line-height:10px;
display:inline-block;
margin-left:10px;
}
.fp-slide {height:400px;}
.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev{
    width: 66px; height: 66px; background: #28384c; border-radius: 33px;
    border-width:0;
    border-color:none;
    font-size:36px; 
    color:white;
    opacity:.9;

}
.fp-prev a, .fp-next a {
  color:white;
}
.fp-prev a:hover, .fp-next a:hover {
  color:$h;
} 
.fp-prev {margin-left:90px;
  span {margin-left:11px;}
}
.fp-next {margin-right:90px;
  span {margin-left:16px;}
}
div.intro{
  opacity:.3;
  transform:translateX(-200px);
  transition:all 400ms ease;
}
div.slide{overflow:hidden};

// css
div.slide[data-anchor="css"] {
  font-family:inconsolata;
  color:white;
  h1 {
    float:left;
    margin-left:10%;
    margin-top:50px; 
    font-size:75px;
    width:500px;
    display:block;
    text-align:center;
    text-shadow:5px 5px 5px #000;
    transition:all 200ms ease;
    margin-top:-500px;
  }
  h2 {
    font-size:50px;
    width:375px;
    display:block;
    float:left;
    margin-left:25%;
    clear:both;
    text-shadow:5px 5px 5px #000;
    transition:all 200ms ease;
    margin-left:11500px;
  }
}

div.gt_logo {
  position:relative;
  margin:50px auto;
  background:url("../images/slider/gt_logo_2.png") no-repeat;
  width:472px;
  height:273px;
  vertical-align: center;
  text-align:center;
  img {
    margin-top:58.5px;
    height:156px;
  }
}

div.phones {
  float:left;
  height:100%;
  margin-left:15%;
  margin-top:1%;
  img {
    display:block; 
    transition:all 400ms ease; 
  }
  img:nth-child(2) {
    position:absolute;
    z-index:1;
    margin-top:1800px;

  }
  img:nth-child(1) {
  position:absolute;
  z-index:4;
  transform: translateX(60%);
  margin-top:1800px;

  }
  img:nth-child(3) {
    position:absolute;
    z-index:3;
    transform: translateX(120%);
    margin-top:1800px;

   }
}

// ux 

  .ux-headings {
    margin-left:-15%;
    height:100%;
    float:left;
    position:relative;
    z-index:100;
    h1{
      color:white;
      font-family: inconsolata;
      font-weight:bold;
      font-size:300px;
      float:left;
      line-height:280px;
      text-shadow:5px 5px 5px #000;
      display:block;
      transition: all 400ms ease;
      opacity:0;
      margin:0;
      padding:0;
    }
    h2 {
      transition: all 1200ms ease 0s;
      color: #FFF;
      font-family: inconsolata;
      font-weight: bold;
      font-size: 36px;
      float: left;
      clear:left;
      margin-left:10%;
      text-shadow: 2px 2px 2px #000;
      opacity:0;
    }
  }

// print
    .one {
      height:350px;
      box-shadow:5px 5px 15px #222;
      float:left;
      margin-left:-50px;
      position:relative;
      transition:all 400ms ease;
      margin-top:1800px;
      opacity:0;
    }
    .two {
      height:350px;
      clear:both;
      float:left;
      position:relative;
      text-shadow:5px 5px 15px #222;
      margin-left:250px;
      transition:all 400ms ease;
      margin-top:1800px;
      opacity:0;
    }

.fp-slide[data-anchor="print"] {
  div.images {
    float: none;
    position: absolute;
    z-index: 1;
    margin-left: 12%;
    width:50%;
    img {

    }
  }
  div.headings {
    float: none;
    position: absolute;
    z-index: 5;
    width:50%;
    h1 {
      float:left;
      position:relative;
      margin-top:0;
      margin-left:2%;
      font-family:inconsolata;
      line-height:100px;
      color:white;
      font-size:75px;
      text-shadow:5px 5px 5px #000;
      transition: all 400ms ease;
      opacity:0;
    }
    h2 {
      float:left;
      position:relative;
      clear:both;
      margin-left:4%;
      font-family:inconsolata;
      font-size:35px;
      line-height:45px;
      clear:both;
      color:white;
      text-shadow:3px 3px 3px #000;
      transition: all 400ms ease;
      opacity:0;

    }
  }
}

svg {
  position:fixed;
  right:20px;
  bottom:20px;
  z-index:20;
  width:60px;
  height:125px;
  .totop {
      fill: #ccc;
  }
}
div.gt_logo {
  opacity:0;
transition:all 800ms ease;
  img {
    opacity:0;
    transition:all 400ms ease;
  }
}

.slide {

  background-repeat:no-repeat;
}

.titlebody {
    font-family:Source Sans Pro;
    background:white;
    box-shadow:10px 10px 20px;
  h1 {
    display:block;
    margin-top:10px;
    float:left;
    color:#5d5d5d;
    font-size:32px; 
    span {

    display:block;
    color:black;
    font-size:20px;
    }
  }
}

.portrait {
  margin-top:20px;
  img {
    width:200px;
  }
}

#section0 {
  //work on this
  background:url("../images/chattanooga/vetbridge.jpg") no-repeat center center;
  background-size:cover;
  transition:all 200ms ease;

}

@media (max-width:3000px) {
  #section0 {
    background-position:0px -50px;
  }
}

@media (max-width:1600px) {
  #section0 {
    background-position:0px 150px;
  }
}

@media (max-width:1200px) {
  #section0 {
    background-position:0px 250px;
  }
}

@media (max-width:950px) {
  #section0 {
    background-position:0px 200px;
  }
}

@media (max-width:768px) {
  #section0 {
    background-position:-200px 250px;
  }

  @media (max-width:450px) {
  #section0 {
    background-position:-400px 250px;
  }
}
}

.mb-headings {
  margin-bottom:20px;
  height:25%;
  a {
    color:white;
    text-decoration: underline;
  }
  margin-top:10px;
  h1 {
    color:white;
    font-size:72px;
    transition:all 200ms ease;
    margin-left:0px;
    padding-left:0px;
    i {
      margin-left:10px;
      display:inline-block;
      font-size:40px;
      opacity:.5;
    }
  }
  h1:hover {
    font-size:86px;
  }

  h2 {
    font-family:inconsolata;
    font-size:32px;
    color:white;
    float:left;
    clear:left;
    margin:0;
    padding:0;
  }
  p {
    float:left;
    opacity:.5;
    line-height:40px;
    display:inline-block;
    color:#CC6600;
    margin:0;
    margin-bottom:25px;
    span {
      color:white;
    }
    a{
      text-decoration:none;
    }
  }
}
.mb-images {
  float:left;
  margin-left:10%;
  transition:all 300ms ease;
  height: 75%;
  overflow: hidden;  
  img {
    box-shadow:2px 5px 10px 10px rgba(0,0,0,.2);

  }
  img.mb-back {
    width:400px;

  }
  img.pep-active {
    z-index:100;

  }
}
/*.mb-images {
  margin-top:45px;
  margin-left:10%;
  float:left;
  min-height:400px;
  div {
    height:100%;
  }
  div img {
    transition:all 300ms cubic-bezier(0, 0, .58, 1);
    display:block;
    float:none;
    position:absolute;
    top:0;
    left:0;
    box-shadow:2px 5px 10px 10px rgba(0,0,0,.2);
  }
  div.on-bottom {
    float:none;
    width:100%;
    position:absolute;
    z-index:1;
    top:0; 
    right:0;
    img:nth-child(1){
      bottom:0;
      }
    img:nth-child(2) {
      margin-left:20%;
      margin-top:-40px;
      box-shadow:none;
    }
    img:nth-child(3) {
      margin-left:45%;
      margin-top:5%;
      box-shadow:none;
    }
    }
  div.on-top {
    float:none;
    width:100%;
    position:absolute;
    z-index:2;
    right:0;
    img:nth-child(1){
      margin-top:5%;
      margin-left:15%;
      }
    img:nth-child(2) {
      margin-left:20%;
      top:auto;
      bottom:0;
    }
  }

}*/

div.tanya_screenshot {
  height:100%;
  overflow:hidden;
  img {
    width:140%;
    opacity:0;
    margin-left: -1500px;
    transition: all 200ms ease 0s;
  }
}
div.tanya_mockup {
    height:100%;
  overflow:hidden;
  position:relative;
  z-index:1;
  div {
    float:left;
    margin-left:5%;
  }
  div img {
    width:55%;
    margin-top:-1800px;
    transition:all 100ms ease;
  }
}
div.tanya_headings, div.sd-headings {
  float:left;
  h1, a {
    position:relative;
    display:block;
    z-index:100;

    margin-left:20%;
    width:100%;
    
    font-family: Inconsolata;
    // configure for responsiv
    font-size:24px;
    font-weight:normal;
    color:black;

    opacity:1;
    transition: opacity 3s ease;

  }
  a {
    text-decoration:underline;
    line-height:24px;
  }
}
div.sd-headings {
  height:25%;
  overflow:hidden;
  h1 {
    clear:left;
    margin:0 0 5% 20%;
    font-size:48px;
  }
  a{
    font-size:48px;
    line-height:52px;
    display:inline-block;
    float:left;
    width:auto;
  }
  i {
    display:inline-block;
    float:left;
    line-height:48px;
    margin-top:8px;
    margin-left:10px;
  }
}

div.sd-backgrounds, div.sd-icons, div.sd-mockup {
  div img, img {
    float:none;
    display:block;
    margin:0 auto;
  }
}
div.sd-backgrounds {
  div {float:left; margin-left:40%;
    margin-top:-1500px;
    transition:margin-top 200ms ease;
    opacity:0;}
  div img {
    width:130%;
  }
}
div.sd-icons {
    margin-top:-1500px;
    transition:margin-top 200ms ease;
    opacity:0;
  img {
    width:85%;
  }
}
div.sd-mockup {
  div {
    float:left;
    margin-top:-40%;
    margin-left:1500px;
    opacity:0;
    transition:margin-left 200ms ease;
  }
  div img {
    width:100%;
  }
}



a.color {
    color:#d25625;
    font-family: Inconsolata;
    box-shadow: inset 0 0px 0 #d25625, inset 0 -4px 0 #c24845

}
.btn, .btn-large {
  padding:5px;
  
}
.helph1 {
  h1 {font-size:52px;
  color:#bd4040;
  font-family:Source Sans Pro;
  }
}
.helph2 {
h2 {
  font-family:Source Sans Pro;
  font-size:43px;
  color:black;
  }
}

a.btn-danger {
  display:block;
  float:left;
  box-shadow: 0px 0px 24px -3px rgba(0,0,0,0.43);
  margin-top:25px;
  .text.col-xs-7, .svg.col-xs-5 {
    padding:0;
  }
  .svg.col-xs-5 {
    margin-left:-8px;
  }
  .text {
    float:left;
    text-align:left;
    line-height:18px;
    margin-left:8px;
    margin-top:5px;
  }
  .svg {
    font-size:30px;
  }
}

.ontop {
  position:fixed;
  bottom:0;
  z-index:100;
  span.btn {
    width:110%;
    box-shadow:5px 5px 5px rgba(0,0,0,.5);
    cursor:default;
    border-radius:0;
    border-top-right-radius: 6px;
    a:nth-child(1) {
      margin-left:10%;
    }
    a {margin-right:10px; cursor:pointer;}
    a, a i {color:white; transition:color .25s ease;}
    a:hover i, a:hover {
      color:$h;
    }
  }
}